<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
</head>
<body>
<!-- dynamically display data -->
<header>
    <!--   <h1 th:text="${book.getTitle()}"></h1>-->
    <h1>
        <th:block th:text="'Title: ' + ${book.getTitle()}"></th:block>
    </h1>
</header>
<section>
    <h2>
        <th:block th:text="'Genre: ' + ${book.getGenre()}"></th:block>
    </h2>
    <h2>
        <th:block th:text="'Year: ' + ${book.getYear()}"></th:block>
    </h2>
    <h2>Authors:</h2>
    <ul>
        <li th:each="author : ${book.getAuthors()}">
            <th:block th:text="${author.getName()} + ' ' + ${author.getSurname()}"></th:block>
        </li>
    </ul>
</section>
<!--<div th:text="${book.getTitle()}"></div>-->
<form th:method="POST" th:action="@{/bookDetails}">
    <input type="submit" value="Select another Author for Book" style="background-color: red; color: white">
</form>
</body>
</html>